{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css link -->
     <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title> Resturant </title>
  </head>
  <body>
     
    <section id="header">

      <div class="container">
          <div class="navbar">
              <div class="logo">
                  <img src="{% static 'images/logo.png' %}" alt="Logo">
              </div>
              <div class="nav-bar">
                  <ul id="nav-links">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Contacts</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Blog</a></li>
                  </ul>
              </div>
              <div class="auth">
                  <a href="#" class="btn btn-success">Sign In</a>
                  <a href="#" class="btn btn-primary">Sign Up</a>
              </div>
          </div>
          <div class="search-bar">
              <input type="text" placeholder="Search Your Favourite Foods">
          </div>
          <div class="info">
              <h3>More than just a meal, it's an experience.</h3>
              <p>Where flavors ignite your senses, every dish tells a story, and every moment is crafted to delight. Step into a world of culinary adventure, where great food meets unforgettable experiences.</p>
          </div>
      </div>
  
  </section>
  

<main>
    {% block content %}
    {% endblock %}
</main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>