body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#header {
    background: url("{% static 'images/back.jpeg' %}") no-repeat center center/cover;
    padding: 50px 0;
    height: 80vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-bar ul li a:hover {
    color: #0056b3;
}

.auth a {
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.search-bar {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info {
    text-align: center;
    margin-top: 50px;
}

.info h3 {
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
}

.info p {
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}